{% load compress %} {% load static %}

<!DOCTYPE html>
<html data-theme="nord" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gewinner</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
  </head>

  <body class="flex flex-col min-h-screen">
    <div class="navbar bg-neutral text-neutral-content">
      <div class="navbar-start">
        <button class="btn btn-ghost text-l">
          <a href="{% url 'home' %}">gewinner</a>
        </button>
        <button class="btn btn-ghost text-l">action</button>
        <button class="btn btn-ghost text-l">about</button>
      </div>

      <div class="navbar-center"></div>
      <div class="navbar-end">
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-ghost text-l">Logout</button>
        </form>
        {% else %}
        <button class="btn btn-sm btn-ghost text-l">
          <a href="{% url 'login' %}">Login</a>
        </button>
        <button class="btn btn-sm btn-primary text-l">
          <a href="{% url 'register' %}">Register</a>
        </button>
        {% endif %}
      </div>
    </div>
    <main class="container mx-auto py-8 flex-grow">
      {% block content %}
      <!-- Page-specific content goes here -->
      {% endblock %}
    </main>
    <footer class="footer footer-center bg-base-300 text-base-content p-2">
      <aside>
        <p>Copyright © {% now "Y" %} - All right reserved by gewinner</p>
      </aside>
    </footer>
  </body>
</html>
