<div id="task-formset" class="shadow-lg bg-base-100 p-6 rounded-lg">
    {{ task_formset.management_form }} {% for form in task_formset %} {{ form.id }}
    <div
      class="card p-4 task-form"
    >
      <div
        class="grid grid-cols-1 lg:grid-cols-2 gap-6 shadow-md border border-primary"
      >
        <!-- Task Details -->
        <div class="card p-4">
          <div class="form-control">
            <label class="label font-bold" for="{{ form.task.id_for_label }}"
              >Task</label
            >
            {{ form.task }}
          </div>
          <div class="form-control">
            <label
              class="label font-bold"
              for="{{ form.active.id_for_label }}"
              >Active</label
            >
            {{ form.active }}
          </div>
        </div>

        <!-- Right Side -->
        <div class="card p-4">
          <div class="form-control">
            <label
              class="label font-bold"
              for="{{ form.frequency.id_for_label }}"
              >Frequency</label
            >
            {{ form.frequency }}
          </div>
          <div class="form-control">
            <label class="label font-bold" for="{{ form.time.id_for_label }}"
              >Time</label
            >
            {{ form.time }}
          </div>
          <div class="form-control">
            <label
              class="label font-bold"
              for="{{ form.date_time.id_for_label }}"
              >Date Time</label
            >
            {{ form.date_time }}
          </div>
          <div class="form-control">
            <label
              class="label font-bold"
              for="{{ form.day_of_week.id_for_label }}"
              >Day of Week</label
            >
            {{ form.day_of_week }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>